{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row-content am-cf">
        <div class="row-content am-cf">
            <div class="widget am-cf">
                <div class="widget-body">
                    <div class="tpl-page-state">
                        <div class="tpl-page-state-content tpl-error-content">
                            <img src="{% static 'assets/img/qrcode.jpg' %}" class="am-img" alt=""/>
                            <p>请添加客服微信开通帐号，添加时候请填写您的注册帐号。</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


